<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style_category.css">
    <link rel="stylesheet" href="../css/style_catalog.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>SURFHOUSE</title>
    <script src="../js/ajax.js?v=3.53" type="text/javascript"></script>
</head>

<body>

<header>

    <div class="top">

        <div class="logo"><img src="../images/logo.png"></div>

        <div class="social">
            <a href="#" target="_blank"><img src="../images/fb.png"></a>
            <a href="#" target="_blank"><img src="../images/tv.png"></a>
            <a href="#" target="_blank"><img src="../images/yt.png"></a>
            <a href="#" target="_blank"><img src="../images/pin.png"></a>
            <a href="#" target="_blank"><img src="../images/inst.png"></a>
        </div>

    </div>

    <div class="topmiddle">

        <div class="hello">
            <h2 class="hello">Welcome to <br>SurfHouse</h2>
            <p>The only online store you will ever need for all your windserfing and kite-surfing and SUP needs</p>
        </div>

        <div class="adv">
            <div>
                <h1 class="adv">JP FUNRIDE<br>2014</h1>
                <p class="adv">Super easy going freeride boards based on the X-Cite Ride chape concept with additional
                    control and super easy jibing.</p>
            </div>
            <div class="buynow">
                <a href="#"><p><b>BUY NOW</b></p></a>
            </div>
        </div>

    </div>

    <div class="endblock">
    </div>

</header>

<!-- Основной блок -->
<div class="main">

    <!-- Левый блок -->
    <div class="left">

        <!-- Меню -->
        <div class="menu">
            <p>Menu</p>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Каталог</a></li>
                <li><a href="#">Статьи</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>

        <div class="open">
            <form method="post" action="javascript:register()">
                <label for="login">Логин: </label><input type="text" name="login" id="login"/><br>
                <label for="password">Пароль: </label><input type="password" name="password" id="password"/> <br>
                <label for="rememberme">Запомнить: </label><input type="checkbox" name="rememberme" id="rememberme"/>
                <input type="submit" name="SubmitLogin" value="Войти"/> <a href="//register/">Зарегистрироваться</a>
            </form>

        </div>

    </div>

    <!-- Правый блок -->
    <div class="right">
        <div class="kroshki"><a href="index.html">Главная страница</a> &raquo; <a href="#">Товары</a> &raquo; Товары для
            серфинга &raquo; <span>Доски</span></div>

        <div class="tovar_catalog">
            <div class="namecat">
                <h2 class="namecat">Доски для серфинга</h2>
            </div>
            <div class="product" style="">
                <div><a href="#"><img src="../images/doska1.png"></a></div>
                <div class="product_descript">
                    <div class="naming">
                        <h1>Single Thruster 2014</h1>
                    </div>
                    <div class="short_description">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book. When an
                        unknown printer took a galley of type.
                    </div>
                    <div class="price_basket"><span class="pricem">€ 865.00</span>
                        <input type="button" id="i1" value="В КОРЗИНУ" onclick="add_basket('#i1')"
                               data-product-guid="{{ content_data.product.0.ID_UUID }}">
                    </div>
                </div>
            </div>
            <div class="product" style="">
                <div style=""><a href="#"><img src="../images/doska2.png" style=""></a></div>
                <div class="product_descript">
                    <div class="naming">
                        <h1>Single Thruster 2014</h1>
                    </div>
                    <div class="short_description">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book. When an
                        unknown printer took a galley of type.
                    </div>
                    <div class="price_basket"><span class="pricem">€ 865.00</span>
                        <input type="button" id="i1" value="В КОРЗИНУ" onclick="add_basket('#i1')"
                               data-product-guid="{{ content_data.product.0.ID_UUID }}">
                    </div>
                </div>
            </div>
            <div class="product" style="">
                <div style=""><a href="#"><img src="../images/doska3.png" style=""></a></div>
                <div class="product_descript">
                    <div class="naming">
                        <h1>Single Thruster 2014</h1>
                    </div>
                    <div class="short_description">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book. When an
                        unknown printer took a galley of type.
                    </div>
                    <div class="price_basket"><span class="pricem">€ 865.00</span>
                        <input type="button" id="i1" value="В КОРЗИНУ" onclick="add_basket('#i1')"
                               data-product-guid="{{ content_data.product.0.ID_UUID }}">
                    </div>
                </div>
            </div>
            <div class="product" style="">
                <div style=""><a href="#"><img src="../images/doska4.png" style=""></a></div>
                <div class="product_descript">
                    <div class="naming">
                        <h1>Single Thruster 2014</h1>
                    </div>
                    <div class="short_description">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book. When an
                        unknown printer took a galley of type.
                    </div>
                    <div class="price_basket"><span class="pricem">€ 865.00</span>
                        <input type="button" id="i1" value="В КОРЗИНУ" onclick="add_basket('#i1')"
                               data-product-guid="{{ content_data.product.0.ID_UUID }}">
                    </div>
                </div>
            </div>
            <div class="product" style="">
                <div style=""><a href="#"><img src="../images/doska5.png" style=""></a></div>
                <div class="product_descript">
                    <div class="naming">
                        <h1>Single Thruster 2014</h1>
                    </div>
                    <div class="short_description">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book. When an
                        unknown printer took a galley of type.
                    </div>
                    <div class="price_basket"><span class="pricem">€ 865.00</span>
                        <input type="button" id="i1" value="В КОРЗИНУ" onclick="add_basket('#i1')"
                               data-product-guid="{{ content_data.product.0.ID_UUID }}">
                    </div>
                </div>
            </div>


        </div>


    </div>

    <!-- Нижняя часть главного блока -->
    <div class="brand">
        <span>brand</span> <span>brand</span> <span>brand</span> <span>brand</span> <span>brand</span>
        <span>brand</span> <span>brand</span> <span>brand</span>
    </div>

    <div class="instagram">
        <p><img src="../images/insta.png"> <i><b>Instagram feed:</b> #sufrhouse</i></p>

        <div class="instapic">
            <img src="../images/Livello25.png">
            <img src="../images/Livello26.png">
            <img src="../images/Livello27.png">
            <img src="../images/Livello28.png">
            <img src="../images/Livello29.png">
            <img src="../images/Livello30.png">
        </div>

        <div class="network">
            <a href="#" target="_blank"><img src="../images/facebook.png"></a>
            <a href="#" target="_blank"><img src="../images/twitter.png"></a>
            <a href="#" target="_blank"><img src="../images/pinterest.png"></a>
        </div>
    </div>


</div>

<footer>
    <div class="footercont">
        <div class="footerblock">
            <p class="fname">Category</p>
            <p class="ftext">
            <ul class="fot">
                <li>Home</li>
                <li>about us</li>
                <li>eshop</li>
                <li>Features</li>
                <li>new collections</li>
                <li>blog</li>
                <li>contact</li>
            </ul>

        </div>
        <div class="footerblock">
            <p class="fname">Our accounts</p>
            <p class="ftext">
            <ul class="fot">
                <li>Your Account</li>
                <li>Personal information</li>
                <li>Addresses</li>
                <li>Discount</li>
                <li>Orders history</li>
                <li>Addresses</li>
                <li>Search Terms</li>
            </ul>

        </div>
        <div class="footerblock">
            <p class="fname">Our support</p>
            <p class="ftext">
            <ul class="fot">
                <li>Site map</li>
                <li>Search Terms</li>
                <li>Advansed Search</li>
                <li>Mobile</li>
                <li>Contact Us</li>
                <li>Mobile</li>
                <li>Addresses</li>
            </ul>

        </div>
        <div class="footerblock2">
            <p class="fname">Newsletter</p>
            <p class="ftext2">Join thousands of other people subscribe to our news</p>
            <div class="form">
                <form>
                    <input type="email" placeholder="insert email"><input type="submit" value="submit">
                </form>
            </div>
            <div class="pay">
                <img src="../images/aex.png" title="American Express">
                <img src="../images/mastercard.png" title="MasterCard">
                <img src="../images/maestro.png" title="Maestro">
                <img src="../images/paypal.png" title="PayPal">
                <img src="../images/discover.png" title="Discover">
                <img src="../images/visa.png" title="Visa">
            </div>
        </div>
        <div class="footerblock2">
            <p class="fname">About us</p>
            <p class="ftext3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
            <p class="ftext2">
            <table class="ph">
                <tr>
                    <td>Phone:</td>
                    <td>1-999-342-9876</td>
                </tr>
                <tr>
                    <td>e-mail:</td>
                    <td><a href="mailto:info@surfhouse.com" target="_blank">info@surfhouse.com</a></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="copy">
        <div>
            <table class="copy">
                <tr>
                    <td class="left">&copy; 2014 SURFHOUSE. All rights reserved - Designed by theuncreativelab.com</td>
                    <td class="right">
                        <a href="#" target="_blank"><img src="../images/fb.png"></a>
                        <a href="#" target="_blank"><img src="../images/tv.png"></a>
                        <a href="#" target="_blank"><img src="../images/yt.png"></a>
                        <a href="#" target="_blank"><img src="../images/pin.png"></a>
                        <a href="#" target="_blank"><img src="../images/inst.png"></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</footer>
</body>

</html>