<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <title>SURFHOUSE</title>
</head>

<body>

<header>

    <div class="top">

        <div class="logo"><img src="../images/logo.png"></div>

        <div class="social">
            <a href="#" target="_blank"><img src="../images/fb.png"></a>
            <a href="#" target="_blank"><img src="../images/tv.png"></a>
            <a href="#" target="_blank"><img src="../images/yt.png"></a>
            <a href="#" target="_blank"><img src="../images/pin.png"></a>
            <a href="#" target="_blank"><img src="../images/inst.png"></a>
        </div>

    </div>

    <div class="hei"></div>

    <div class="endblock"></div>

</header>

<!-- Основной блок -->
<div class="main2">

    <!-- Левый блок -->
    <div class="left">

        <!-- Меню -->
        <div class="menu">
            <p>Menu</p>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Apparel</a></li>
                <li><a href="#">Surf apparel</a></li>
                <li><a href="#">Windsurf</a></li>
                <li><a href="#">Kitesurf</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Sale</a></li>
                <li><a href="#">Brands</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Gadgets</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="open">
            <p>now<br>is<br>open!</p>
        </div>

    </div>

    <!-- Правый блок -->
    <div class="right">
        <div class="kroshki"><a href="index.html">Home</a> &raquo; <a href="#">Apparel</a> &raquo; <span>Women</span>
        </div>

        <!-- Продукция -->
        <div class="tovar">
            <div class="product">
                <a href="#"><img src="../images/shop.png"></a>
                <table class="tov">
                    <tr>
                        <td class="naming">SLEEVE SPRING SUIT</td>
                        <td class="pricem">€ 865.00</td>
                    </tr>
                </table>
            </div>
            <div class="product">
                <a href="#"><img src="../images/shop.png"></a>
                <table class="tov">
                    <tr>
                        <td class="naming">SALTY DAYZ</td>
                        <td class="pricem">€ 770.50<br><span>€ 1,270.15</span></td>
                    </tr>
                </table>
            </div>
            <div class="product">
                <a href="#"><img src="../images/shop.png"></a>
                <table class="tov">
                    <tr>
                        <td class="naming">CHEEKY JANE</td>
                        <td class="pricem">€ 280.70</td>
                    </tr>
                </table>
            </div>


            <div class="product">
                <a href="#"><img src="../images/shop.png"></a>
                <table class="tov">
                    <tr>
                        <td class="naming">SYNERGY 2MM BACK ZIP</td>
                        <td class="pricem">€ 765.00</td>
                    </tr>
                </table>
            </div>
            <div class="product">
                <a href="#"><img src="../images/shop.png"></a>
                <table class="tov">
                    <tr>
                        <td class="naming">SYNERGY 2MM BACK</td>
                        <td class="pricem">€ 230.50</td>
                    </tr>
                </table>
            </div>
            <div class="product">
                <a href="#"><img src="../images/shop.png"></a>
                <table class="tov">
                    <tr>
                        <td class="naming">SURF YOKE 19 QS</td>
                        <td class="pricem">€ 330.70</td>
                    </tr>
                </table>
            </div>


            <div class="product">
                <a href="#"><img src="../images/shop.png"></a>
                <table class="tov">
                    <tr>
                        <td class="naming">OG SCALLOP SOLID</td>
                        <td class="pricem">€ 765.00</td>
                    </tr>
                </table>
            </div>
            <div class="product">
                <a href="#"><img src="../images/shop.png"></a>
                <table class="tov">
                    <tr>
                        <td class="naming">STRIPE 19 QS</td>
                        <td class="pricem">€ 230.50</td>
                    </tr>
                </table>
            </div>
            <div class="product">
                <a href="#"><img src="../images/shop.png"></a>
                <table class="tov">
                    <tr>
                        <td class="naming">YOKE 19 QS</td>
                        <td class="pricem">€ 1,130.70</td>
                    </tr>
                </table>
            </div>


            <div class="product">
                <a href="#"><img src="../images/shop.png"></a>
                <table class="tov">
                    <tr>
                        <td class="naming">DOLLS TANK TOP</td>
                        <td class="pricem">€ 765.00</td>
                    </tr>
                </table>
            </div>
            <div class="product">
                <a href="#"><img src="../images/shop.png"></a>
                <table class="tov">
                    <tr>
                        <td class="naming">PULLOVER TOP</td>
                        <td class="pricem">€ 230.50</td>
                    </tr>
                </table>
            </div>
            <div class="product">
                <a href="#"><img src="../images/shop.png"></a>
                <table class="tov">
                    <tr>
                        <td class="naming">ENEVER TOP</td>
                        <td class="pricem">€ 1,130.70</td>
                    </tr>
                </table>
            </div>


            <div class="product">
                <a href="#"><img src="../images/shop.png"></a>
                <table class="tov">
                    <tr>
                        <td class="naming">RELAY RACE HENLEY TOP</td>
                        <td class="pricem">€ 765.00</td>
                    </tr>
                </table>
            </div>
            <div class="product">
                <a href="#"><img src="../images/shop.png"></a>
                <table class="tov">
                    <tr>
                        <td class="naming">BREEZE ZIP UP</td>
                        <td class="pricem">€ 230.50</td>
                    </tr>
                </table>
            </div>
            <div class="product">
                <a href="#"><img src="../images/shop.png"></a>
                <table class="tov">
                    <tr>
                        <td class="naming">BREEZE ZIP UP JACKE</td>
                        <td class="pricem">€ 480.70</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="network">
        <a href="#" target="_blank"><img src="../images/facebook.png"></a>
        <a href="#" target="_blank"><img src="../images/twitter.png"></a>
        <a href="#" target="_blank"><img src="../images/pinterest.png"></a>
    </div>
</div>

<footer>
    <div class="footercont">
        <div class="footerblock">
            <p class="fname">Category</p>
            <p class="ftext">
            <ul class="fot">
                <li>Home</li>
                <li>about us</li>
                <li>eshop</li>
                <li>Features</li>
                <li>new collections</li>
                <li>blog</li>
                <li>contact</li>
            </ul>

        </div>
        <div class="footerblock">
            <p class="fname">Our accounts</p>
            <p class="ftext">
            <ul class="fot">
                <li>Your Account</li>
                <li>Personal information</li>
                <li>Addresses</li>
                <li>Discount</li>
                <li>Orders history</li>
                <li>Addresses</li>
                <li>Search Terms</li>
            </ul>

        </div>
        <div class="footerblock">
            <p class="fname">Our support</p>
            <p class="ftext">
            <ul class="fot">
                <li>Site map</li>
                <li>Search Terms</li>
                <li>Advansed Search</li>
                <li>Mobile</li>
                <li>Contact Us</li>
                <li>Mobile</li>
                <li>Addresses</li>
            </ul>

        </div>
        <div class="footerblock2">
            <p class="fname">Newsletter</p>
            <p class="ftext2">Join thousands of other people subscribe to our news</p>
            <div class="form">
                <form>
                    <input type="email" placeholder="insert email"><input type="submit" value="submit">
                </form>
            </div>
            <div class="pay">
                <img src="../images/aex.png" title="American Express">
                <img src="../images/mastercard.png" title="MasterCard">
                <img src="../images/maestro.png" title="Maestro">
                <img src="../images/paypal.png" title="PayPal">
                <img src="../images/discover.png" title="Discover">
                <img src="../images/visa.png" title="Visa">
            </div>
        </div>
        <div class="footerblock2">
            <p class="fname">About us</p>
            <p class="ftext3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
            <p class="ftext2">
            <table class="ph">
                <tr>
                    <td>Phone:</td>
                    <td>1-999-342-9876</td>
                </tr>
                <tr>
                    <td>e-mail:</td>
                    <td><a href="mailto:info@surfhouse.com" target="_blank">info@surfhouse.com</a></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="copy">
        <div>
            <table class="copy">
                <tr>
                    <td class="left">&copy; 2014 SURFHOUSE. All rights reserved - Designed by theuncreativelab.com</td>
                    <td class="right">
                        <a href="#" target="_blank"><img src="../images/fb.png"></a>
                        <a href="#" target="_blank"><img src="../images/tv.png"></a>
                        <a href="#" target="_blank"><img src="../images/yt.png"></a>
                        <a href="#" target="_blank"><img src="../images/pin.png"></a>
                        <a href="#" target="_blank"><img src="../images/inst.png"></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</footer>
</body>

</html>